.counter {
    font-size: 24px;

    button {
        font-size: inherit;
        margin: 0 1rem;
        background: #ffffff;
        border-radius: 3px;
        border: 1px solid #b2deff;
        width: 2rem;
    }
}